USE [master]
GO
/****** Object:  Database [CafeDB]    Script Date: 30/05/2026 17:41:07 ******/
CREATE DATABASE [CafeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CafeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CafeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafeDB]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 30/05/2026 17:41:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](100) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30/05/2026 17:41:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](100) NOT NULL,
	[ItemName] [varchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[OrderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerName], [ItemName], [Quantity], [Price], [Total], [OrderDate]) VALUES (34, N'Arsal', N'Fries', 1, CAST(350.00 AS Decimal(10, 2)), CAST(350.00 AS Decimal(10, 2)), CAST(N'2026-05-25T02:22:16.937' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [CustomerName], [ItemName], [Quantity], [Price], [Total], [OrderDate]) VALUES (35, N'Asma', N'Cold Coffee', 1, CAST(850.00 AS Decimal(10, 2)), CAST(850.00 AS Decimal(10, 2)), CAST(N'2026-05-25T02:22:35.967' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [CustomerName], [ItemName], [Quantity], [Price], [Total], [OrderDate]) VALUES (36, N'Hadi', N'Zinger Burger', 2, CAST(900.00 AS Decimal(10, 2)), CAST(1800.00 AS Decimal(10, 2)), CAST(N'2026-05-25T02:22:53.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
USE [master]
GO
